<!DOCTYPE html>
<html>
<head>
  <title>NonCanon: Comics by Tom McHenry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="comic-main">
		<a href="/"><img src="http://www.noncanon.com/wp-content/uploads/2014/05/NonCanonLogo2014.png"></a>
		<%= yield %>
	</div>

  <%= render "comics/footer" %>
</body>
</html>
