<!DOCTYPE html>
<html>
<head>
  <title>NonCanon: Comics by Tom McHenry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, root_url + "feed.rss") %>
</head>
<body>
  <%= render "comics/header" %>
    <%= yield(:search) %>
		<%= yield %>
	</div>

  <%= render "comics/footer" %>
  <%= render "layouts/footer" %>
</body>
</html>
